node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Native directories (managed by Expo prebuild in cloud)
android/
ios/

.gradle/
*.iml
.idea/
